{
  "bracketSpacing": true,
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tadWidth": 2,
        "printWidth": 40,
        "singleQuote": true
      }
    }
  ]
}
